In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [2]:
client=pymongo.MongoClient("mongodb+srv://jayakavi:1234@cluster0.cz7mk79.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [3]:

db = client.sample_airbnb
collection1 = db.listingsAndReviews

In [4]:
org_data=[]
for i in collection1.find():
    data=dict(_id=i.get('_id'),
              listing_url=i['listing_url'],
              name=i.get('name'),              
              property_type=i['property_type'],
              room_type=i['room_type'],
              Bed_type=i['bed_type'],
              Min_nights=int(i['minimum_nights']),
              max_nights=int(i['maximum_nights']),
              Cancellation_policy=i['cancellation_policy'],
              Accomodates=i['accommodates'],
              Bedrooms=i.get('bedrooms'),
              Beds=i.get('beds'),
              Bathrooms=i.get('bathrooms'),
              Price=i['price'],
              No_of_reviews=i['number_of_reviews'],
              Review_score=i['review_scores'].get('review_scores_rating'),
              Guest_include=i['guests_included'],
              Cleaning_fees=i.get('cleaning_fee'),
              Image_url=i['images']['picture_url']
              )
    org_data.append(data)

In [5]:
df=pd.DataFrame(org_data)
df.head(1)

,_id,listing_url,name,property_type,room_type,Bed_type,Min_nights,max_nights,Cancellation_policy,Accomodates,Bedrooms,Beds,Bathrooms,Price,No_of_reviews,Review_score,Guest_include,Cleaning_fees,Image_url
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,1.0,80.00,51,89.0,6,35.00,https://a0.muscache.com/im/pictures/e83e702f-e...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5555 non-null   object
 1   listing_url          5555 non-null   object
 2   name                 5555 non-null   object
 3   property_type        5555 non-null   object
 4   room_type            5555 non-null   object
 5   Bed_type             5555 non-null   object
 6   Min_nights           5555 non-null   int64
 7   max_nights           5555 non-null   int64
 8   Cancellation_policy  5555 non-null   object
 9   Accomodates          5555 non-null   int64
 10  Bedrooms             5550 non-null   float64
 11  Beds                 5542 non-null   float64
 12  Bathrooms            5545 non-null   object
 13  Price                5555 non-null   object
 14  No_of_reviews        5555 non-null   int64
 15  Review_score         4081 non-null   float64
 16  Guest_include        5555 non-null   object
 17  Cleaning_fees        4024 non-null   object
 18  Image_url            5555 non-null   object
dtypes: float64(3), int64(4), object(12)
memory usage: 824.7+ KB

In [7]:
df.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
Bed_type                  0
Min_nights                0
max_nights                0
Cancellation_policy       0
Accomodates               0
Bedrooms                  5
Beds                     13
Bathrooms                10
Price                     0
No_of_reviews             0
Review_score           1474
Guest_include             0
Cleaning_fees          1531
Image_url                 0
dtype: int64

In [8]:
#Replacing null values
df['Bedrooms'].fillna(0,inplace=True)
df['Beds'].fillna(df.Beds.median(),inplace=True)
df['Bathrooms'].fillna(0,inplace=True)
df['Review_score'].fillna(df.Review_score.median(),inplace=True)
df['Cleaning_fees'].fillna(0,inplace=True)

In [9]:
df.isna().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
Bed_type               0
Min_nights             0
max_nights             0
Cancellation_policy    0
Accomodates            0
Bedrooms               0
Beds                   0
Bathrooms              0
Price                  0
No_of_reviews          0
Review_score           0
Guest_include          0
Cleaning_fees          0
Image_url              0
dtype: int64

In [10]:
#changing data types
df["Bedrooms"]= df["Bedrooms"].astype(int)
df["Beds"]= df["Beds"].astype(int)
df["Bathrooms"]= df["Bathrooms"].astype(str).astype(float).astype(int)
df["Price"]= df["Price"].astype(str).astype(float).astype(int)
df["Cleaning_fees"]= df["Cleaning_fees"].astype(str).astype(float).astype(int)
df["Guest_include"]= df["Guest_include"].astype(str).astype(float).astype(int)

In [11]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
Bed_type                object
Min_nights               int64
max_nights               int64
Cancellation_policy     object
Accomodates              int64
Bedrooms                 int32
Beds                     int32
Bathrooms                int32
Price                    int32
No_of_reviews            int64
Review_score           float64
Guest_include            int32
Cleaning_fees            int32
Image_url               object
dtype: object

In [12]:
df[df.duplicated]

Empty DataFrame
Columns: [_id, listing_url, name, property_type, room_type, Bed_type, Min_nights, max_nights, Cancellation_policy, Accomodates, Bedrooms, Beds, Bathrooms, Price, No_of_reviews, Review_score, Guest_include, Cleaning_fees, Image_url]
Index: []

In [13]:
host_details=[]
for i in collection1.find({},{'_id':1,'host':1}):
    host_details.append(i)

In [14]:
h_df=pd.DataFrame(host_details)
h_df.head(1)

        _id                                               host
0  10006546  {'host_id': '51399391', 'host_url': 'https://w...

In [16]:
host_col={'_id':[],'host_id':[],'host_url':[],'host_name':[],'host_location':[],'host_response_time':[],'host_thumbnail_url':[],
          'host_picture_url':[],'host_neighbourhood':[],'host_responde_rate':[],'host_is_superhost':[],'host_has_profile_pic':[],
          'host_identity_verified':[],'host_total_listings_count':[],'host_verifications':[]}
for i in h_df["_id"]:
    host_col['_id'].append(i)
for i in h_df['host']:
    host_col['host_id'].append(i['host_id'])
    host_col['host_url'].append(i['host_url'])
    host_col['host_name'].append(i['host_name'])
    host_col['host_location'].append(i['host_location'])
    host_col['host_response_time'].append(i.get('host_response_time'))
    host_col['host_thumbnail_url'] .append(i['host_thumbnail_url'])
    host_col['host_picture_url'].append(i['host_picture_url'])
    host_col['host_neighbourhood'].append(i['host_neighbourhood'])
    host_col['host_responde_rate'].append(i.get('host_response_rate'))
    host_col['host_is_superhost'].append(i['host_is_superhost'])
    host_col['host_has_profile_pic'].append(i['host_has_profile_pic'])
    host_col['host_identity_verified'].append(i['host_identity_verified'])
    host_col['host_total_listings_count'].append(i['host_total_listings_count'])
    host_col['host_verifications'].append(i['host_verifications'])

In [17]:
host_df=pd.DataFrame(host_col)
host_df.head(1)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_responde_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,,100.0,False,True,True,3,"[email, phone, reviews, jumio, offline_governm..."

In [18]:
host_df.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_responde_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [19]:
host_df['host_response_time'].fillna('Not specified',inplace=True)
host_df['host_responde_rate'].fillna('Not specified',inplace=True)
host_df['host_location'].fillna('Not specified',inplace=True)
host_df['host_neighbourhood']=host_df['host_neighbourhood'].replace('','Not specified')
host_df['host_is_superhost']=host_df['host_is_superhost'].replace(True,'Yes').replace(False,'No')
host_df['host_has_profile_pic']=host_df['host_has_profile_pic'].replace(True,'Yes').replace(False,'No')
host_df['host_identity_verified']=host_df['host_identity_verified'].replace(True,'Yes').replace(False,'No')

C:\Users\JAYAKAVI\AppData\Local\Temp\ipykernel_12112\3033543347.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Not specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  host_df['host_responde_rate'].fillna('Not specified',inplace=True)

In [20]:
host_df.isna().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_responde_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [21]:
host_df.head(1)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_responde_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_total_listings_count,host_verifications
0,10006546,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not specified,100.0,No,Yes,Yes,3,"[email, phone, reviews, jumio, offline_governm..."

In [22]:
address_details=[]
for i in collection1.find({},{'_id':1,'address':1}):
    address_details.append(i)

In [23]:
ad_df=pd.DataFrame(address_details)
ad_df.head(1)

        _id                                            address
0  10006546  {'street': 'Porto, Porto, Portugal', 'suburb':...

In [24]:
address_col={'_id':[],'street':[],'suburb':[],'government_area':[],'market':[],'country':[],'country_code':[],'location_type':[],
             'longitude':[],'latitude':[],'is_location_exact':[]}
for i in ad_df["_id"]:
    address_col['_id'].append(i)
for i in ad_df['address']:
    address_col['street'].append(i['street'])
    address_col['suburb'].append(i['suburb'])
    address_col['government_area'].append(i['government_area'])
    address_col['market'].append(i['market'])
    address_col['country'].append(i['country'])
    address_col['country_code'].append(i['country_code'])
    address_col['location_type'].append(i['location']['type'])
    address_col['longitude'].append(i['location']['coordinates'][0])
    address_col['latitude'].append(i['location']['coordinates'][1])
    address_col['is_location_exact'].append(i['location']['is_location_exact'])

In [25]:
address_df=pd.DataFrame(address_col)
address_df.head(1)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10006546,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.1413,False

In [26]:
address_df.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [27]:
address_df['suburb']=address_df['suburb'].replace('','Not specified')
address_df['market']=address_df['market'].replace('','Not specified')
address_df['is_location_exact']=address_df['is_location_exact'].replace(True,'Yes').replace(False,'No')

In [28]:
address_df.head(1)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10006546,"Porto, Porto, Portugal",Not specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.1413,No

In [29]:
avail_details=[]
for i in collection1.find({},{'_id':1,'availability':1}):
    avail_details.append(i)

In [30]:
avail_df=pd.DataFrame(avail_details)
avail_df.head(2)

        _id                                       availability
0  10006546  {'availability_30': 28, 'availability_60': 47,...
1  10009999  {'availability_30': 0, 'availability_60': 0, '...

In [31]:
avail_col={'_id':[],'availability_30':[],'availability_60':[],'availability_90':[],'availability_365':[]}
for i in avail_df["_id"]:
    avail_col['_id'].append(i)
for i in avail_df['availability']:
    avail_col['availability_30'].append(i['availability_30'])
    avail_col['availability_60'].append(i['availability_60'])
    avail_col['availability_90'].append(i['availability_90'])
    avail_col['availability_365'].append(i['availability_365'])

In [32]:
availability_df=pd.DataFrame(avail_col)
availability_df.head(1)

,_id,availability_30,availability_60,availability_90,availability_365
0,10006546,28,47,74,239

In [33]:
availability_df.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [34]:
amenities_details= []
for i in collection1.find({},{"_id":1, "amenities":1}):
    amenities_details.append(i)

In [35]:
amenities_df=pd.DataFrame(amenities_details)
amenities_df.head(1)

        _id                                          amenities
0  10006546  [TV, Cable TV, Wifi, Kitchen, Paid parking off...

In [36]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

In [37]:
amenities_df["amenities"]= amenities_df["amenities"].apply(lambda x: sort_amenities(x))

In [38]:
amenities_df.isnull().sum()

_id          0
amenities    0
dtype: int64

In [39]:
amenities_df.dtypes

_id          object
amenities    object
dtype: object

In [40]:
df1=pd.merge(df,host_df,on='_id')
df1=pd.merge(df1,amenities_df,on='_id')
df1=pd.merge(df1,address_df,on='_id')
df1=pd.merge(df1,availability_df,on='_id')

In [41]:
df1.isnull().sum()

_id                          0
listing_url                  0
name                         0
property_type                0
room_type                    0
Bed_type                     0
Min_nights                   0
max_nights                   0
Cancellation_policy          0
Accomodates                  0
Bedrooms                     0
Beds                         0
Bathrooms                    0
Price                        0
No_of_reviews                0
Review_score                 0
Guest_include                0
Cleaning_fees                0
Image_url                    0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_responde_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_total_listings_count    0
host_verifications           0
amenities                    0
street                       0
suburb                       0
government_area              0
market                       0
country                      0
country_code                 0
location_type                0
longitude                    0
latitude                     0
is_location_exact            0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
dtype: int64

In [42]:
df1.to_csv('airbnb.csv')

In [43]:
df2=pd.read_csv("C:/Users/JAYAKAVI/New folder/airbnb.csv")
df2.drop('Unnamed: 0',inplace=True,axis=1)

In [44]:
df2.head(1)

,_id,listing_url,name,property_type,room_type,Bed_type,Min_nights,max_nights,Cancellation_policy,Accomodates,...,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,PT,Point,-8.61308,41.1413,No,28,47,74,239

In [46]:
df2.isnull().sum()

_id                          0
listing_url                  0
name                         8
property_type                0
room_type                    0
Bed_type                     0
Min_nights                   0
max_nights                   0
Cancellation_policy          0
Accomodates                  0
Bedrooms                     0
Beds                         0
Bathrooms                    0
Price                        0
No_of_reviews                0
Review_score                 0
Guest_include                0
Cleaning_fees                0
Image_url                    0
host_id                      0
host_url                     0
host_name                    0
host_location                8
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_responde_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_total_listings_count    0
host_verifications           0
amenities                    0
street                       0
suburb                       0
government_area              0
market                       0
country                      0
country_code                 0
location_type                0
longitude                    0
latitude                     0
is_location_exact            0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
dtype: int64

In [48]:
#drop null values
new=df2.dropna(axis=0,how='any')

In [49]:
new.isnull().sum()

_id                          0
listing_url                  0
name                         0
property_type                0
room_type                    0
Bed_type                     0
Min_nights                   0
max_nights                   0
Cancellation_policy          0
Accomodates                  0
Bedrooms                     0
Beds                         0
Bathrooms                    0
Price                        0
No_of_reviews                0
Review_score                 0
Guest_include                0
Cleaning_fees                0
Image_url                    0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_responde_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_total_listings_count    0
host_verifications           0
amenities                    0
street                       0
suburb                       0
government_area              0
market                       0
country                      0
country_code                 0
location_type                0
longitude                    0
latitude                     0
is_location_exact            0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
dtype: int64

In [51]:
df3=pd.DataFrame(new)
df3.head(1)

,_id,listing_url,name,property_type,room_type,Bed_type,Min_nights,max_nights,Cancellation_policy,Accomodates,...,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,PT,Point,-8.61308,41.1413,No,28,47,74,239

In [53]:
df3.to_csv('file.csv')

In [54]:
df4=pd.read_csv("C:/Users/JAYAKAVI/New folder/file.csv")
df4.drop('Unnamed: 0', inplace=True, axis=1)

In [55]:
df4.head(1)

,_id,listing_url,name,property_type,room_type,Bed_type,Min_nights,max_nights,Cancellation_policy,Accomodates,...,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,PT,Point,-8.61308,41.1413,No,28,47,74,239

In [56]:
df4.isnull().sum()

_id                          0
listing_url                  0
name                         0
property_type                0
room_type                    0
Bed_type                     0
Min_nights                   0
max_nights                   0
Cancellation_policy          0
Accomodates                  0
Bedrooms                     0
Beds                         0
Bathrooms                    0
Price                        0
No_of_reviews                0
Review_score                 0
Guest_include                0
Cleaning_fees                0
Image_url                    0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_responde_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_total_listings_count    0
host_verifications           0
amenities                    0
street                       0
suburb                       0
government_area              0
market                       0
country                      0
country_code                 0
location_type                0
longitude                    0
latitude                     0
is_location_exact            0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
dtype: int64